html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  color: #333333;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100svh;
  width: 100%;
  justify-content: center;
  align-items: center;

  background: linear-gradient(26deg, #858688, #bbbabf);
}

.image {
  position: relative;
}

img {
  border: 10px solid white;
  width: 75%;
  max-width: 50vh;
}

h1 {
  font-size: 60px;
}

h2 {
  margin: 0;
  font-size: 60px;
}

h3 {
  font-size: 35px;
  width: 70%;
}

@media (max-width: 720px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 20px;
  }
}
