html,
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: lighter;
  text-align: center;
  font-family: "Frank Ruhl Libre";
}

:root {
  --max-height: 150px;
  --start-animation: 6s;
}

.intro {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  background-image: url("/clean-white-rough-wall-as-texture-background-plaster-blank-surfacexa_117930-1685.avif");
  background-color: #c79a96;
  background-blend-mode: color-burn;
  background-size: cover;

  animation: fade 2s forwards;
  animation-delay: 5s;

  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.9;
}

.intro > img {
  position: relative;

  animation: appear ease-in 2s forwards;
  opacity: 0;
}

.intro img:nth-of-type(1) {
  height: 250px;
  left: -32px;
  animation-delay: 700ms;
}
.intro img:nth-of-type(2) {
  height: 280px;
  right: -90px;
  animation-delay: 1.2s;
}

.intro > p {
  font-size: 25px;
  letter-spacing: 3px;
  color: white;
  font-family: "Rouge Script", cursive;
  opacity: 0;
  animation: pop2 ease-in 400ms forwards;
  animation-delay: 2.2s;
}

@keyframes fade {
  0% {
    opacity: 0.9;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

body {
  width: 100%;
  height: 100svh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/clean-white-rough-wall-as-texture-background-plaster-blank-surfacexa_117930-1685.avif");
  /* background-color: rgb(238 238 238); */
  /* background-blend-mode: multiply; */
  background-size: cover;
}

body > section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.stroke {
  max-height: 0;
  overflow: hidden;
  animation: stroke 500ms forwards;
  animation-timing-function: cubic-bezier(1, 0, 0.6, 0.84);
  animation-delay: var(--start-animation);
}

.stroke > img {
  height: 140px;
  width: 125px;
  object-fit: cover;
  object-position: top;
  rotate: 180deg;
  filter: invert(83%) sepia(3%) saturate(3109%) hue-rotate(318deg)
    brightness(81%) contrast(80%);

  scale: 1 2;
  translate: 0 -60px;
}

header > h3 {
  opacity: 0;

  position: relative;
  animation: fall 1.3s forwards;
  animation-delay: calc(var(--start-animation) + 700ms);
}

h1 {
  opacity: 0;
  letter-spacing: 8px;
  font-size: 50px;
  color: #ae755c;
  animation: appear ease-in-out 1s forwards;
  animation-delay: calc(var(--start-animation) + 1.1s);
}

h1 > p {
  font-family: "Ms Madi", cursive;
  font-size: 40px;
  color: #b98e86c9;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  color: #585858;
}

.date {
  font-size: 35px;
  word-spacing: 9px;
  letter-spacing: 5px;
  color: #585858;
}

.date > span {
  display: inline-block;
  opacity: 0;

  animation: pop 1.2s forwards;
}

.date > mark {
  display: inline-block;
  background-color: transparent;
  opacity: 0;

  animation: appear 4s forwards;
  animation-delay: calc(var(--start-animation) + 2s);
}

.date span:nth-of-type(1) {
  animation-delay: calc(var(--start-animation) + 2s);
}
.date span:nth-of-type(2) {
  animation-delay: calc(var(--start-animation) + 2.2s);
}
.date span:nth-of-type(3) {
  animation-delay: calc(var(--start-animation) + 2.4s);
}

h3 {
  letter-spacing: 3px;
  font-size: 30px;
  font-family: "Ms Madi", cursive;
  color: #b98e86c9;
}

footer {
  margin-bottom: 50px;
  opacity: 0;

  position: relative;
  animation: fall 2s forwards;
  animation-delay: calc(var(--start-animation) + 3.2s);
}

@keyframes stroke {
  0% {
    max-height: 0;
  }

  100% {
    max-height: var(--max-height);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fall {
  0% {
    opacity: 0;
    top: -35px;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes pop {
  0% {
    opacity: 0;
    scale: 2.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes pop2 {
  0% {
    opacity: 0;
    scale: 1.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@media (min-width: 600px) {
  :root {
    --max-height: 180px;
  }

  body {
    max-height: 1000px;
  }

  body::before {
    opacity: 0.4;
  }

  .stroke > img {
    height: 180px;
    width: 175px;
    scale: 1 2;
    translate: 0 -70px;
  }

  h1 {
    font-size: 82px;
  }
  .date {
    font-size: 45px;
    padding: 40px;
  }
  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 45px;
  }

  .intro img:nth-of-type(1) {
    max-height: 30vh;

    height: 350px;
    top: 50px;
    left: -120px;
    animation-delay: 700ms;
  }
  .intro img:nth-of-type(2) {
    max-height: 40vh;

    height: 380px;
    bottom: 60px;
    right: -210px;
    animation-delay: 1.2s;
  }

  .intro > p {
    font-size: 40px;
  }
}
